/* Global Properties */
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background: linear-gradient(-45deg, #F3EAD9, #dad2c3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  overflow-y:hidden;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

img {
  display: flex;
  max-width: 100%;
  max-height:100%;
  left: 0;
  bottom: 0;
  position:relative;
  border-radius: 0.5rem;
}

/* Buttons */
button {
  outline: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
}
button:focus {
  outline: none;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #62687d !important;
}

/* Text */
.name-heading {
  color: #FFC107;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.main-heading {
  color: #62687d;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.heading {
  color: #62687d;
}
.text-highlight {
  color: #62687D;
}

/* Navigation */
.nav-link {
  border: 2px solid transparent;
}
.nav-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #62687d;
  transition: 0.5s ease;
}
.nav-icon {
  color: #FFC107
}
.bg-dark {
  background:transparent !important;
  transition:0.75s ease;
}
.bg-dark.scrolled {
  background: white !important;
  opacity: 75%;
}
.custom-toggler.navbar-toggler {
  border-color:	rgb(105,105,105);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(105,105,105)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Wave Emoji */
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* pause */
  100% { transform: rotate( 0.0deg) }
}

/* HomePage Height */
.main-container {
  height: 100vh;
}

/* HomePage Align Items */
.main-row {
  display: flex;
  align-items: center;
  height: 100%;
}

/* HomePage Font Size Change */
/* .main-row h1 {
  font-size: 4vw;
}
.main-row h2 {
  font-size: 5.5vw;
} */

/* HomePage Image Change */
.main-row img {
  display: flex;
  max-width: 100%;
  max-height:100%;
  animation: MoveUpDown 1.5s linear infinite;
  left: 0;
  bottom: 0;
  position:relative;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

/* About Section */
.about {
  background: #ac9987;
  border-radius: 0.5rem;
}
.card {
  border-bottom: 8px solid #62687d;
  background-color: white;
  width: 250px;
  min-height: 404.5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 10px 10px #AC9987;
  border-radius: 10px;
  margin: 0 auto;
}

/* Social Media Section */
#contact {
  background: #AC9987;
}

/* Add color to Social Media Links */
section #socials li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #socials li div {
  width: 120px;
  height: 120px;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
section #socials li a {
  color: #62687d;
}
section #socials li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #socials li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}