/* Global Properties */
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background: #283655;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  overflow-y:hidden;
}

img {
  display: flex;
  max-width: 100%;
  max-height:100%;
  left: 0;
  bottom: 0;
  position:relative;
  border-radius: 0.5rem;
}

/* Text */
.name-heading {
  color: #D0E1F9;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.main-heading {
  color: #D0E1F9;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.heading {
  color: #D0E1F9;
}
.text-highlight {
  color: #283655;
  font-weight: bold;
}
.home-text {
  color: white;
  font-weight: bold;
}

/* Navigation */
.nav-link {
  border: 2px solid transparent;
}
.nav-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #D0E1F9;
  transition: 0.5s ease;
}
.nav-icon {
  color: #D0E1F9
}
.bg-dark {
  background:transparent !important;
  transition:0.75s ease;
}
.bg-dark.scrolled {
  background: black !important;
  opacity: 75%;
}
.custom-toggler.navbar-toggler {
  border-color:	rgb(105,105,105);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(105,105,105)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* HomePage Height */
.main-container {
  height: 100vh;
}

/* HomePage Align Items */
.main-row {
  display: flex;
  align-items: center;
  height: 100%;
}

/* HomePage Font Size Change */
/* .main-row h1 {
  font-size: 4vw;
}
.main-row h2 {
  font-size: 5.5vw;
} */

/* HomePage Image */
.main-row img {
  display: flex;
  max-width: 100%;
  max-height:100%;
  animation: MoveUpDown 1.5s linear infinite;
  left: 0;
  bottom: 0;
  position:relative;
  filter: drop-shadow( 0px 0px 30px #fff);
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

/* About Section */
.about {
  background: #4D648D;
  border-radius: 0.5rem;
}

#socials li {
  display: inline-block;
  margin: 10px;
  list-style: none;
}
 #socials li div {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
#socials li a {
  color: #62687d;
}
#socials li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}

/* Projects */
.card {
  border-bottom: 8px solid #4D648D;
  min-height: 404.5px;
  display: flex;
  flex-direction: column;
  
  max-width: 300px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
	margin: 10px auto;
  cursor: pointer;
}

.card img {
	transition: all 0.25s linear;
}
.card:hover img {
	transform: rotate(5deg) scale(1.1, 1.1);
	filter: brightness(110%);
}
.card .card-body {
	position: relative;
	padding: 30px;
	background-color: #fff;
}
.card .card-body::before {
	content: "";
	position: absolute;
	height: 20px;
	top: -10px;
	left: 0px;
	right: 0px;
	background-color: #fff;
	z-index: 0;
	transform: skewY(3deg);
}
.card .card-title {
  background: rgba(208, 225, 249, 0.80);
  padding: 2.5%;
  border-radius: 0.5rem;
	font-weight: bold;
	position: absolute;
  top: -75px;
	color: black;
	font-size: 17px;
}

/* Contact */
#contact {
  background: #4D648D;
}

/* Paper */
.fold {
  position: relative;
  height: 400px;
  padding: 25px;
  background: white;
}
/* Fold (Pseudo class) */
.fold:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: #ddd #4D648D;
  transition: all ease .5s
}
/* Paper Fold Animation */
.fold:hover:before {
  border-width: 0 150px 150px 0;
  border-color: #ddd #4D648D;

}

/* Contact Form */
.full-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.50);
}
.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Close Form Button */
.close {
  position: absolute;
  top: 5%;
  width: 60px;
  height: 60px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}